body{
	position: unset;
	padding: 0;
	height: 100% !important;
	min-height: unset;
	a{
		text-decoration: none;
	}
}

.pkp_structure_page{
	min-height: 100%;
	position: relative;
	margin-left: unset;
}

.pkp_structure_footer{
	position: absolute;
	margin-top: unset;
	bottom: 0;
	width: 100%;
	background: #ccc;
	font-size: 12px;
	padding: unset;
}

.pkp_structure_content{
	max-width: unset !important;
	margin-left: 192px;
}

.pkp_structure_main{
	margin: 32px;
}

.pkp_controllers_grid .actions a{
	font-weight: unset;
}

div[id^="dashboard"] .pkp_controllers_grid{
	margin-bottom: unset;
}

.pkp_helpers_text_warn{
	color: unset;
}

table colgroup col{
	width: unset;
}

[id^="component-grid-files"] [id^="component-grid-files"] td:not(.first_column), [id^="component-grid-files"] [id^="component-grid-files"] th:not(.first_column){
	width: unset;
}