#barra-ensp {
	position: relative;
	height: 70px;
	background: url('@{baseUrl}/plugins/themes/csp/assets/barra-brasil/header/bg-div.gif') repeat-x;
	border-top: 1px solid  #cbcbcb;
    z-index: 13;
}

#barra-ensp a {
	display: block;
	height: 70px;
	width: 300px;
	background: url('@{baseUrl}/plugins/themes/csp/assets/barra-brasil/header/logo.gif') no-repeat;
}

#barra-ensp a span {
	height: 0;
	width: 0;
	overflow: hidden;
	position: absolute;
}

#barra-ensp .link-fiocruz {
	position: absolute;
	top: 15px;
	right: 5px;
	height: 25px;
	width: 86px;
	background: url('@{baseUrl}/plugins/themes/csp/assets/barra-brasil/header/logo-fiocruz.png') no-repeat;
}

@media screen and (max-width: 980px)
{
    #barra-ensp .link-fiocruz{
        top: 5px;
    	right: 0;
        height: 40px;
        width: 40px;
        background: url('@{baseUrl}/plugins/themes/csp/assets/barra-brasil/header/logo-fiocruz_menor.png') no-repeat;
    }
}

#barra-fiocruz {
    height:33px;
    margin:0;
    padding:0;
    background-image:url('@{baseUrl}/plugins/themes/csp/assets/barra-brasil/header/fio-direito.jpg');
    background-repeat:repeat-x;
}

#conteudo{
    position: relative;
}

#barra-fiocruz #conteudo ul li{
    list-style: none;
}

#barra-fiocruz #conteudo ul,
#barra-fiocruz #conteudo ul li,
#barra-fiocruz #conteudo ul li a{
    margin:0;
    padding:0;
}

#barra-fiocruz #conteudo #barra-fluida-esquerda{
    background-image:url('@{baseUrl}/plugins/themes/csp/assets/barra-brasil/header/fio-esquerdo.jpg');
    background-repeat:repeat-x;
    height:33px;
    width: 120px;
}

#barra-fiocruz #conteudo ul .a1{
    background: url('@{baseUrl}/plugins/themes/csp/assets/barra-brasil/header/logo-fiocruz.jpg') no-repeat scroll 0 0;
    display:inline-block;
    height: 33px;
    width: 120px;
    float:left;
}

#barra-fiocruz #conteudo #barra-fluida-direita{
    /*	background-image:url(../images/lado_direito.jpg);
    background-repeat:no-repeat;
    background-position:top right;*/
    height:33px;
    width: 180px;
    position: absolute;
    right: 0;
    z-index: 1000;
    top: 0;
}

#barra-fiocruz #conteudo ul a span{
    height: 1px;
    overflow: hidden;
    position: absolute;
    width: 1px;
}


#barra-fiocruz #conteudo ul  .a4{
    background: rgba(0, 0, 0, 0) url('@{baseUrl}/plugins/themes/csp/assets/barra-brasil/header/logo-fiocruz-d-PNG.png') no-repeat scroll 0 0;
    display:inline-block;
    height: 33px;
    width: 180px;
    float:left;
}

#foote-barra-brasil{
    background: #4e4d4d;
    img{
        width: unset;
        height: unset;
    }
}

span.oculta{
    position: absolute;
    left: -999em;
    width: 1em;
    overflow: hidden;
}