@import './aside.less';

.image-footer{
	width: 100%;
}

.image-define{
	width: 95.09px !important;
}

.footer-page{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	font-size: 8px;
	img{
		height: 80px;
	}
}
