.btn-primary{
	font-weight: bold;
	border: 0px;
	font-size: 14px;
	border-radius: 5px;
	background-color: @font-primary-color;
}

.page h1{
	display: flex;
	position: relative;
	align-items: center;
	padding-left: 10px;
	border-left: @font-primary-color 8px solid;
	font-weight: bold;
	padding-left: 15px;
	color: #4C4C4E;
	font-size: 24px;
}

label{
	width: 100%;
}

#register{
	margin-bottom: 10px;
	input:not([type="checkbox"]), select{
		max-width: 350px;
		width: 100%;
	}
}

.identity, .login{
	legend{
		text-transform: uppercase;
		font-weight: 700;
		border: none;
		font-size: 16px;
	}
	label{
		font-weight: normal;
	}
}

.page h1::after{
	content: "";
	width: 65%;
	height: 2px;
	padding-left: 10px;
	background-color: @font-primary-color;
	position: relative;
	right: 0px;
	margin-left: 20px;
}
.csp_form{
	color: #4C4C4C;
	font-weight: 100;
}
.csp_form::after{
	content:"*";
	color: red;
}
.csp_input{
	border-radius: 0px;
	height: 40px;
	border: 1px solid #A1A1A1;

}
.underline{
	text-decoration: underline;
	color: #5293AC;
}
.btn-csp{
	background-color: #E6E7E9;
	color: #5293AC;
	font-weight: 700;
	border-radius: 0px;
	padding: 10px 16px;
}

.btn-csp:hover{
	background-color: darken(#e6e7e9, 10%);
}

.btn-csp-register{
	text-decoration: underline;
	color: #5293AC;
	font-weight: 700;
	border-radius: 1px;
	padding: 10px 16px;
}

.btn-csp-register:hover{
	background-color: darken(#fff, 10%);
}

.checkbox label{
	margin: 20px 0px 20px 0px;
	color: #4C4C4C;
}

.p-r{
	display: flex;
	justify-content: flex-end;
}

.namePage{
	margin-bottom: 50px;
}