.img-responsive{
    width: 100% !important;
}
.sections .section .media-list .col-md-6{
    border: 1px solid #808080;
    width: 48.5% !important;
    margin: 5px;
}

.heading{
    background: #89687c;
    color: white;
}