@import './header.less';
@import './issue.less';
@import './footer.less';

@font-primary-color: #e68b3a;
@font-secondary-color: #818183;
@font-terciary-color: #dddddd;

@font-family-base: 'Crimson Text' ,'Open Sans', sans-serif;

*, html, body {
	font-family: @font-family-base;
}

.img-responsive{
    width: 100% !important;
}
.sections .section .media-list .col-md-6{
    border: 1px solid #808080;
    width: 48.5% !important;
    margin: 5px;
}
.sections .section .media-list .col-md-12{
    border: 1px solid #DDDDDD;
    margin-top: 5px;
    margin-bottom: 5px;
}

.heading{
    background: #C5C5C5;
    //color: white;
}

.issue-summary{
    padding-top: 15px;
}

#headerNavigationContainer{
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}

.div-logo-ensp{
    border-bottom: 5px solid #a6d54c;
}

.navbar-brand .navbar-brand-logo img{
    opacity: 1;
}

.menu{
    background: #e88834;
    padding-left: unset;
    padding-right: unset;
}
.navbar-default, .header_view{
    background: white;
}

footer[role="contentinfo"]{
    background: #FFFFFF;
    color: #000000;
	border-top: 1px solid #000000;
}

.panel-default > .panel-heading, .pkp_block .title{
    margin-top: 0;
}


.container {
    max-width: 1760px !important;
    width: 100% !important;
}

.logo-csp{
    width: 100%;
    max-width: 400px;
    height: auto;
}

#navigationUser li:last-child {
    background: #858688;
}

#navigationUser li:nth-child(2) {
    background: #4b4b4d;
}

.navbar-default .nav > li > a{
    color: white;
}

#logo-csp {
    background: rgba(255, 255, 255, 0.6);
    padding:10px;
}

#logo-ensp-fiocruz{
    background: white;
	border-bottom: 5px solid #a6d54c;
}

#logo-ensp-fiocruz img{
    width: 100%;
    height: auto;
    padding:5px;
}

#myCarousel{
    background: rgba(40,99,95, 0.7);
    color: white;
}

#myCarousel .carousel-control{
    width: 5%;
}

#myCarousel .item{
    margin-left: 5%;
    margin-right: 5%;
}


.announcement-summary h1, p{
    display: inline;
}

.carousel-indicators{
    position: unset;
    text-align: left;
    padding-left: unset;
    margin-left: 5%;
    padding-top: 20px;
}

.carousel-indicators li{
    border-radius: unset;
    border: unset;
    background-color: rgba(255,255,255,0.4);
}

#col-carousel{
    padding: 0px;
}

.announcement-summary a{
    color: white;
    text-decoration: underline;
    float: right;
}

.navbar-nav > li > .dropdown-menu{
    background: #e88834 !important;
}

.navbar-nav > li > .dropdown-menu > li{
    background: #e88834 !important;
}

.navbar-collapse{
    padding-left: unset;
    padding-right: unset;
}

nav[aria-expanded="true"]{
    margin-right: unset;
    margin-left: unset;
    padding-right: 15px;
    padding-left: 15px;
}

nav[aria-expanded="true"] .container > .navbar-header, .container-fluid > .navbar-header, .container > .navbar-collapse, .container-fluid > .navbar-collapse{
    margin-left: unset;
    margin-right: unset;
}

nav[aria-expanded="true"] .pull-right{
    float: unset !important;
}

#language{
    text-align: right;
}
#language select{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    width: 140px;
    background: transparent;
    z-index: 10000;
    position: inherit
}

#language span{
    position: absolute;
    right: 20px;
    top: 5px;
}

#social-icons{
    text-align: right;
}

#social-icons a{
    color: black;
    padding: 10px;
}

#social-icons .dropdown-menu{
    left: unset;
    right: 135px;
}

#social-icons ul {
    float: right;
    list-style: none outside none;
    margin: 0;
    min-width: 61px;
    padding: 0;
}

#social-icons li {
    display: block;
    font-size: 18px;
    list-style: none outside none;
    margin-bottom: 3px;
    margin-left: 4px;
    margin-top: 3px;
}

.btn-twitter {
    background-color: #3399CC !important;
    width: 51px;
    color:#FFFFFF!important;
}

.btn-facebook {
    background-color: #3D5B96 !important;
    width: 51px;
    color:#FFFFFF!important;
}

.btn-facebook {
    background-color: #3D5B96 !important;
    width: 51px;
    color:#FFFFFF!important;
}

.btn-linkedin {
    background-color: #1884BB !important;
    width: 51px;
    color:#FFFFFF!important;
}

.btn-instagram {
    background: radial-gradient(circle farthest-corner at 35% 90%, #fec564, transparent 50%), radial-gradient(circle farthest-corner at 0 140%, #fec564, transparent 50%), radial-gradient(ellipse farthest-corner at 0 -25%, #5258cf, transparent 50%), radial-gradient(ellipse farthest-corner at 20% -50%, #5258cf, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 0, #893dc2, transparent 50%), radial-gradient(ellipse farthest-corner at 60% -20%, #893dc2, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 100%, #d9317a, transparent), linear-gradient(#6559ca, #bc318f 30%, #e33f5f 50%, #f77638 70%, #fec66d 100%);
    width: 51px;
    color:#FFFFFF!important;
}
.pkp_sctructure_sidebar {
	border-left: 1px solid rgba(211, 211, 211, 1);
}

.breadcrumb-link ol li a{
	color: #e4924a !important;
}
.breadcrumb-link ol li.active{
	color: #9d9d9d;
}

.breadcrumb-link ol{
	background-color: transparent;
	border-bottom: 2px dashed #9d9d9d;
	border-radius: 0;
	width: 100%;
}

#logoCSP{
	position: absolute;
	z-index: 1;
}

.he-50{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	height: 50px;
}
.he-50 img{
	max-width: 270px;
}

#logoFiocruz{
	max-width: 100px !important;
}
