.img-responsive{
    width: 100% !important;
}
.sections .section .media-list .col-md-6{
    border: 1px solid #808080;
    width: 48.5% !important;
    margin: 5px;
}
.sections .section .media-list .col-md-12{
    border: 1px solid #ddd;
    margin-top: 5px;
    margin-bottom: 5px;
}

.heading{
    background: #c5c5c5;
    //color: white;
}

.issue-summary{
    padding-top: 15px;
}

#headerNavigationContainer{
    height: 500px;
    width: 100%;     
    background-image: url("http://localhost/ojs/public/journals/1/cover_issue_3_pt_BR.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.div-logo-ensp{
    background: white;
    border-bottom: 5px solid #71a521;
}

.navbar-brand .navbar-brand-logo img{
    opacity: 1;
}

.menu{
    background: #e88834;
}
.navbar-default, .header_view{
    background: white;
}

footer[role="contentinfo"]{
    background: #414041;
    color: white;
}

.panel-default > .panel-heading, .pkp_block .title{
    margin-top: 0;
}


.container {
    max-width: 1760px !important;
    width: 100% !important;
}

.logo-csp{
    width: 100%;
    max-width: 400px;
    height: auto; 
}

#navigationUser li:last-child {
    background: #858688;
}

#navigationUser li:nth-child(2) {
    background: #4b4b4d;
}

.navbar-default .nav > li > a{
    color: white;
}

#logo-csp {
    background: rgba(255, 255, 255, 0.6);
    padding:10px;
}

#logo-ensp-fiocruz{
    background: white;
}

#logo-ensp-fiocruz img{
    width: 100%;
    height: auto;
    max-width: 150px;
    padding:5px;
}

#myCarousel{
    background: rgba(40,99,95, 0.7);
    color: white;
    top:10px;
}

#myCarousel .carousel-control{
    width: 5%;
}

#myCarousel .item{
    margin-left: 5%;
    margin-right: 5%;
}


.announcement-summary h1, p{
    display: inline;
}

.carousel-indicators{
    position: unset;
    text-align: left;
    padding-left: unset;
    margin-left: 5%;
    padding-top: 20px;
}

.carousel-indicators li{
    border-radius: unset;
    border: unset;
    background-color: rgba(255,255,255,0.4);
}

#col-carousel{
    padding: 0px;
}

.announcement-summary a{
    color: white;
    text-decoration: underline;
    float: right;
}