.header-issue{
	display: flex;
	flex-direction: column;
	margin: 40px 0 20px;

	p{
		font-weight: 600;
	}

	.version_issue{
		display: flex;
		justify-content: flex-end;
	}
}

.issue-section{
	padding-right: 30px;
}

.issue-content{
	display: flex;
	flex-direction: row;
	width: 100%;

	@media screen and (max-width: 770px) {
		flex-direction: column;

	}
}

.page-header-title{
	padding-bottom: 9px;
	position: relative;

	@media screen and (max-width: 770px) {
		margin-right: 50px;
	}
}
.page-header-title h2 small {
	text-transform: uppercase;
	font-weight: bold;
	font-size: 70%;
	color: #48484a;
}

.issue-article a {
	color: #4b4b4d;
	font-weight: bold;
	&:hover{
		text-decoration: none;
	}
}

.article-data{
	display: flex;
	justify-content: flex-end;
	margin-top: 0px;
	padding-top: 12px;

	@media screen and (max-width: 770px) {
		display: none;
	}
}

.article-list{
	.issue-content:not(:first-child){
		.page-header-title{
			opacity: 0;

			@media screen and (max-width: 770px) {
				display: none;
			}
		}
	}
	.issue-content:first-child{
		border: none;

		.media{
			border: none;
		}
		.page-header-title{
			border: none;
		}
		.article-data{
			border: none;
		}
	}
}

.issue-content{
	.media{
		border-top: 1px solid #ddd;
		margin-top: 0px;
		padding-top: 15px;

		@media screen and (max-width: 770px) {
			padding-left: 30px;
		}
	}
	.page-header-title{
		border-top: 1px solid #ddd;
	}
	.article-data{
		border-top: 1px solid #ddd;
	}

	@media screen and (max-width: 770px) {
		.page-header-title{
			border: none;
		}
		.article-data{
			border: none;
		}
	}
}

.csp-border{
	border-right: 2px solid #ddd;
	border-left: 2px solid #ddd;
	padding: 0px 30px;
	color: #4B4B4D;
}

.csp-article-title{
	font-weight: bold;
	padding-bottom: 30px;
	margin-top: 0px;
}

.csp-h2{
	font-size: 30px;
	font-weight: bold;
	margin-bottom: 20px;
	text-transform: uppercase;
}

.context-toggles{
	display: flex;
}

.csp-alert{
	background-color: #E6E7E9;
	border-color: #CACBCD;
	border-radius: 0;
	color: #646567;
	margin: 100px 0px 70px 0px;
	font-size: 17px;
	font-weight: 600;
}

.csp-article-edition{
	margin-top: 20px;
	font-size: 20px;
	color: #4B4B4D;
	div{
		padding: 0px 15px;
		font-weight: bold;
	}
	a{
		color: #E88834;
		font-size: 14px;
	}
}

.csp-date{
	background-color: #E6E7E9;
	display: flex;
	flex-direction: column;
	padding: 10px;
	div{
		background: none;
		padding: 5px 15px;
		border: none;
		margin-right: 5px;
		strong{
			margin-right: 5px;
		}
	}
}

.csp-abstract{
	border-bottom: 1px solid #CACBCD;
	padding-bottom: 10px;
	margin-bottom: 20px;
	p{
		font-size: 19px;
		line-height: 1.8;
		font-weight: 500;
	}
}

.csp-details-title{
	font-size: 24px;
	font-weight: 800;
	padding-left: 0;
}

.csp-details-keys{
	padding: 0;
}

.csp-keywords{
	border: none;
	padding-left: 0;
	strong{
		font-size: 24px;
		font-weight: 800;
		padding-left: 0px;
	}
	div{
		font-weight: 100;
		margin-top: 15px;
		font-size: 19px;
	}
}

.csp-download{
	display: flex;
    flex-direction: column;
	a{
		background-color: #E88834;
		color: #fff;
		font-size: 19px;
		font-weight: bold;
		font-size: 18px;
		padding: 6px 2px;
		box-shadow: -1px 1px 0px 0px rgba(190,192,193,1);
		border-radius: 0;
		margin-bottom: 15px !important;
		transition: all .5s ease;
		text-transform: uppercase;
	}
	a:last-child{
		margin-bottom: 0px !important;
	}
	a:hover{
		background-color: #ff9941;
		color: #FFF;
	}
}

.csp-cite{
	display: flex;
	flex-direction: column;
	text-align: center;
	margin-bottom: 30px;
	text-transform: uppercase;
	strong{
		color: #fff;
		font-weight: bold;
		background-color: #858688;
		width: 100%;
		padding: 8px 0px;
	}
	div{
		text-align: left;
		word-break: break-word;
		width: 100%;
		padding: 10px;
		color: #4B4B4D;
		background-color: #E6E7E9;
	}
}

.csp-doi{
	padding: 10px 0px;

	strong{
		font-size: 16px;
		font-weight: 900;
	}
	a{
		color: orange;
	}
}

.csp-border-bottom{
	border-bottom: 1px solid #CACBCD;
	margin-bottom: 40px;
}

.csp-border-mid{
	margin-top: 30px;
	border-bottom: 2px solid #CACBCD;
	margin-bottom: 30px;
}

.csp-authors{
	display: flex;
	line-height: 1.8;
	flex-wrap: wrap;
}

.csp-author{
	display:flex;
}

.csp-fullname{
	color: #555;
	font-family: open-sans;
	font-style: italic;
	font-size: 18px;
	transform: translateY(-5px);
	white-space: nowrap;
}

.csp-author:after{
	content: ",";
	margin-right: 5px;
}

.csp-author:only-child:after{
	content: "";
}

.csp-author:last-child:after{
	content: ".";
}

.orcid-icon{
	color: #555;
	font-size: 16px;
	text-decoration: none;
	transform: translateY(-6px);
}

.article-aside{
	padding: 55px 10px 0px 40px;
}

.remove-old-breadcrumb{
	margin-top: 60px;
	nav{
		display: none;
	}
}

.article-sidebar .panel-heading{
	text-transform: uppercase;
	font-size: 20px;
}