@font-primary-color: #A03841;
@font-secondary-color: #818183;
@font-terciary-color: #dddddd;

@font-face {
	font-family: "Open Sans";
	src: url('@{baseUrl}/plugins/themes/csp/styles/fonts/OpenSans-Bold.ttf') format("ttf"),
		url('@{baseUrl}/plugins/themes/csp/styles/fonts/OpenSans-BoldItalic.ttf') format("ttf"),
		url('@{baseUrl}/plugins/themes/csp/styles/fonts/OpenSans-ExtraBold.ttf') format("ttf"),
		url('@{baseUrl}/plugins/themes/csp/styles/fonts/OpenSans-ExtraBoldItalic.ttf') format("ttf"),
		url('@{baseUrl}/plugins/themes/csp/styles/fonts/OpenSans-Italic.ttf') format("ttf"),
		url('@{baseUrl}/plugins/themes/csp/styles/fonts/OpenSans-Light.ttf') format("ttf"),
		url('@{baseUrl}/plugins/themes/csp/styles/fonts/OpenSans-LightItalic.ttf') format("ttf"),
		url('@{baseUrl}/plugins/themes/csp/styles/fonts/OpenSans-Regular.ttf') format("ttf"),
		url('@{baseUrl}/plugins/themes/csp/styles/fonts/OpenSans-Semibold.ttf') format("ttf"),
		url('@{baseUrl}/plugins/themes/csp/styles/fonts/OpenSans-SemiboldItalic.ttf') format("ttf");
}
